.about_image{
	font-size: 30px;
	 font-family: Comic Sans MS;
}

.about_image2{
	font-size: 50px;
    font-family: Comic Sans MS;

}

body{
	background-color: #F6F8F6;
}

.nav-link{
   font-family: Comic Sans MS;
}